* {
  margin: 0;
  box-sizing: border-box;
}

.mobile-menu {
  color: white;
}

/* button shenanigans */

.button-primary-white {
  width: 10rem;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  padding: .75rem 2rem;
  color: black;
  cursor: pointer;
  font-size: .9rem;
  transition: all .5s;
}


.button-primary-white:hover {
  color: white;
  background: transparent;
  border: 3px solid black;
}

.product-button {
  font-size: .8rem;
  margin-top: .5rem;
}