* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}
.mobile-menu {
  color: white;
}

.app {
  max-width: 100%;
  overflow-x: hidden;
}

/* button shenanigans */

.button-primary-white {
  width: 10rem;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  padding: .75rem 2rem;
  color: black;
  cursor: pointer;
  font-size: .9rem;
  transition: all .5s;
}


.button-primary-white:hover {
  color: white;
  background: transparent;
  border: 3px solid black;
}

.product-button {
  font-size: .8rem;
  margin-top: .5rem;
}

/* footer styling */
.footer-icon {
  margin-top: .5rem;
  height: 1rem;
  width: 1rem;
}

.twitter-icon {
  margin: 0rem 1rem;
}